
  @import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   background-color: #1C1C1C;
   width: 100%;
}



.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #646161; */
    color: #ffff;
    position: sticky;
}

.navbar > .logo
{
    display: flex;
    margin: 15px;
    align-items: center;
    
}

.navbar > .logo > h2
{
    
    margin-left: 15px;
}

.navbar > .logo > img
{
    max-width: 80px;
    max-width: 80px;
    border-radius: 50%;
    border: 3px solid #646161;
    box-shadow: 0 0 20px slid black;
}

.nav_links > ul
{
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding-right: 60px;
    flex-grow: 2;
    
    
}

.nav_links li
{
    list-style-type: none;
    font-size: 30px;

}

.nav_links li a
{
    text-decoration: none;
    color: #ffff;
    padding: 1rem;
    display: block;
    
}

.nav_links li a:hover
{
    background-color: #0870f8f1;
}


.map
{
    color: #ffff;
    font-size: 40px;
    text-align: center;
}

/* contact address */

.contact-add
{
    display: flex;
    justify-content: space-evenly;
}

/* form */


.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.field
{
    width: 300px;
    padding: 0.3rem .5rem;
    outline: none;
    border: 2px solid black;
    background-color: rgba(253, 253, 253, 0.6);
    font-size: 1.1rem;
    margin-top: 22px;
    transition: .3s;
    border-radius: 12px;
    display: flex;
    text-align: center;

}

.field:hover
{
    background-color: rgba(0, 0, 0, .1);

}

.field:focus
{
    background-color: #fff;
    border: rgba(30, 85, 250, .47);
}

.fiel
{
    border-radius: 15px;
    width: 200px;
    height: 100px;
    padding: 0.3rem .5rem;
    outline: none;
    border: 2px solid black;
    background-color: rgba(230, 230, 230, .6);
    font-size: 1.1rem;
    margin-top: 22px;
    transition: .3s;
    border-radius: 12px;
    display: flex;
}

.fiel:focus
{
    background-color: #fff;
    border: rgba(30, 85, 250, .47);
}

.btn
{
    margin-left: 17px;
}

.middle-class h2
{
    color: #fff;
}

.left-class h2
{
    color: #fff;
    padding-top: 25px;
}

.left-class
{
    padding-top: 90px;
}

span
{
    font-size: small;
    font-style: italic;
    color: #ebe3e3;
}

.phone
{
    color: rgba(18, 84, 207, 0.589);
    font-size: 30px;
    margin-top: 20px;
}

.phone-cont
{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
}

h1{
    color: #ffffff;
    font-size: 40px;
}

.location
{
    display: inline-flex;
    gap: 5px;
}

.loc-icon
{
    color: rgba(18, 84, 207, 0.589);
    font-size: 30px;
    margin-top: 20px;
}

.email-add
{
    display: flex;
    gap: 5px;
}

.email-icon
{
    color: rgba(18, 84, 207, 0.589);
    font-size: 30px;
    margin-top: 20px;
}


/* form */


.container{
    width: 40%;
    height: 40vh;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form{
    background-color: #1c1c1c;
    display: flex;
    flex-direction:row;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    flex-grow: 1;
}


form h3{
    color: #ffffff;
    font-weight: 800;
    margin-top: 0;
    font-size: 40px;
}

form input, form textarea{

    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #ffffff;
    font-size: 16px;
    border-radius: 12px;
    font-family: 'Slabo 27px', serif;
}



#name, #email, #phone{
    height: 2px;
    width: 300px;
    margin-bottom: 20px;
}

.fl{
    margin-top: 43px;
}

.fl button{
    margin-left: 25px;
    margin-top: 2px;
}



form button{
    padding: 15px;
    background: #2b2727;
    color: #fff;
    font-size: 18px;
    border: 2px solid #1c1c1c;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}