*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   background-color: #1C1C1C;
    
  
    justify-content: center;

    min-height: 100vh;
}



.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #646161; */
    color: #ffff;
}

.navbar > .logo
{
    display: flex;
    margin: 15px;
    align-items: center;
    
}

.navbar > .logo > h2
{
    
    margin-left: 15px;
}

.navbar > .logo > img
{
    max-width: 80px;
    max-width: 80px;
    border-radius: 50%;
    border: 3px solid #646161;
    box-shadow: 0 0 20px slid black;
}

.nav_links > ul
{
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding-right: 60px;
    flex-grow: 2;
    
    
}

.nav_links li
{
    list-style-type: none;
    font-size: 30px;

}

.nav_links li a
{
    text-decoration: none;
    color: #ffff;
    padding: 1rem;
    display: block;
    
}

.nav_links li a:hover
{
    background-color: #0870f8f1;
}

/**
 *logo
 */

 .logo1{
    display: flex;
    gap: 17px;

 }

.image{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.image img{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    border: 10px;
    margin-left: 20px;
    
}

.name{
    font-size: 17px;    
    padding-top: 12px;
    margin-top: 12px;
    width: 400px;
    height: 80px;
}


.portfolio
{
    border: grey;
    background-color: #2F2F2F;
    height: 150px;
    
}

.portfolio > h2
{
    color: #ffff;
    font-size: 40px;
    padding-top: 50px;
    margin-left: 80px;

}


/*****portfolio images*****/


.designs
{
    padding-top: 80px;
}
.designs > .top
{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.designs > .bottom
{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.img_one > img
{
    margin: 30px;
    height: 400px;
    width: 600px;
    border: 3px solid grey;
    border-radius: 20px;

}

.img_one > h2
{
    color: #ffff;
}


.img_two > h2
{
    color: #ffff;
}


.img_two > a > img
{
    margin: 30px;
    height: 400px;
    width: 600px;
    border: 3px solid grey;
    border-radius: 20px;
}




/***** footer*****/

footer{
    color: grey;
    justify-content: center;
    display: flex;
    font-size: larger;
    text-decoration: none;
    
}

footer> ul{
    display: flex;
    padding: 5px;
    gap: 30px;
}

footer> ul> li{
    list-style-type: none;
    color: #ffff;
    font-size: larger;
    padding: 20px;
}

.footer{
    background-color: #1C1C1C;
}

footer> ul> li > a
{
    text-decoration: none;
    color: lightsalmon;
}

footer> ul> li a:hover
{
    color: lightskyblue;
}

hr
{
    margin-top: 200px;
}