*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   background-color: #1C1C1C;
    
  
    justify-content: center;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/*****nav, image and h2***/





.fa-bars
{
    font-size: larger;
    display: none;
}

/****responsing nav-bar******/

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #646161; */
    color: #ffff;
}

.navbar > .logo
{
    display: flex;
    margin: 15px;
    align-items: center;
    
}

.navbar > .logo > h2
{
    
    margin-left: 15px;
}

.navbar > .logo > img
{
    max-width: 80px;
    max-width: 80px;
    border-radius: 50%;
    border: 3px solid #646161;
    box-shadow: 0 0 20px slid black;
}

.nav_links > ul
{
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding-right: 60px;
    flex-grow: 2;
    
    
}

.nav_links li
{
    list-style-type: none;
    font-size: 30px;

}

.nav_links li a
{
    text-decoration: none;
    color: #ffff;
    padding: 1rem;
    display: block;
    
}

.nav_links li a:hover
{
    background-color: #0870f8f1;
}

/***** taggle-button*****/

.toggle
{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
 
.toggle .bar
{
    height: 4px;
    width: 30px;
    background-color: #ffff;
    border-radius: 50px;
    
}



.nav-bar > .left-side > div{
margin-right: 10px;
} */

/**
 *logo
 */

.image img{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    border: 10px;
    margin-left: 20px;
    
}


/* main body styles. */


.main > .control > .profile > img{

    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.profile{
 
    height: 390px;
    width: 430px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #646161;
    box-shadow: 0 0 40px black;
    
}

.profile> img{
    filter: grayscale(100%);
    transition: .5s ease;
    cursor: pointer;

}

.profile> img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);

}

.main
{
    display: flex;

}
.control{
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.control .design h4
{
    font-size: 25px;
    margin: 10px;
}

.btn{
    margin-top: 12px;
    display: flex;
    gap: 12px;
}

button{
    color: #ffff;
    padding: 8px 14px;
    border-radius: 30px;
    background: grey;
    transition: all .25s ease;
    font-size: larger;
    border: 3.3px solid #0075FF;

}

button:hover{
    background-color: rgb(180, 180, 180);
}

button:active{
    transform: scale(.96);
}

.discription-main {
    
    margin-left: 60px;
    
}



/* main h4, p and h2*/

.izina{
    font-size: 1.3em;
    color: #6c87dd;
    padding-top: 6px;
    padding-bottom: 6px;
    
}

.izina > h2{
    color: #ffff;
    margin: 7px;
}

.name > h2
{
    color: #ffff;
}

.designer {
    
    font-size: 1.3em;
    display: inline-flex;
    flex-grow: 2;
}
.text{
    font-size: 1.4em;
    margin: 7px;
    
}


/* about me*/

.about> div{
    display: flex;
    padding-top: 150px;
    gap: 20%;
    margin-left: 4%;
    font-size: larger;
    
    

}


.me> h2{
    margin-left: 90px;
    color: red;
    padding: 5px;
    
}

.me> p{
    margin-left: 90px;
}

.me> a{
    font-size: larger;
    color: red;
}



footer{
    color: grey;
    justify-content: center;
    
    display: flex;
    font-size: larger;
    text-decoration: none;
}

hr
{
    margin-top: 100px;
}

footer> ul{
    display: flex;
    padding: 5px;
    gap: 30px;
}

footer> ul> li{
    list-style-type: none;
    color: #ffff;
    font-size: larger;
    padding: 20px;
}
footer> ul> li > a
{
    text-decoration: none;
    color: lightsalmon;
}

footer> ul> li a:hover
{
    color: lightskyblue;
}



.footer{
    background-color: #1C1C1C;
}

/** styling Icon of Designer*/

.icon{
    display: flex;
    margin-left: 4px;
    font-size: 24px;
    gap: 9px;
    width: 10px;
    height: 20px;
}

.my_icon{
    
}

.my_icon > .icon > .icon1{
    color: #0075FF;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 1px;
}

.a{
    margin-top: 10px;
    
}


/**
 * Designer description
 */

 .decr-designer{
    margin-left: 56px;
    margin-top: 38px;
 }

 p{
    color: #DDC4C4;
 }

 .design > h4
 {
    color: #DDC4C4;
 }

 .text > h1
 {
    color: #ffff;
    font-size: 28px;
 }

 .a > h2
 {
    color: #DDC4C4;
 }


 /**
 * developer sec
 */

.developer
{
    margin-top: 20px;
}

 .icon_dev1
 {
    display: flex;
    gap: 12px;
 }

 .icon_dev1 > .icon_dev
 {
    color: #0075FF;
    font-size: 35px;

 }

 .icon_dev1 > .deve
 {
    color: #DDC4C4;
    font-size: 23px;    
 }

 .developer> h2{
    color: #DDC4C4;
    padding: 5px;
    margin-top: 35px;
    font-size: 40px;
 }

 .dev_h
 {
    margin-left: 50px;
    margin-top: 8px;
 }



