@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  background-color: #0c0c1d;
  color: lightgray;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

.home{
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132)
}

.services{
  background: linear-gradient(180deg, #0c0c1d, #111132)
}

