@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  background-color: #0c0c1d;
  color: lightgray;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

.home{
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132)
}

.services{
  background: linear-gradient(180deg, #0c0c1d, #111132)
}

.parallax{

  h1{
    font-size: 10px;
  }
}

#none{
  display: block;
  @media (min-width: 640px) { 
    display: none;
  }
}
#non{
  display: block;
  @media (min-width: 640px) { 
    display: none;
  }
}

.progress{
  padding-top: calc(100vh - 60px);
  font-size: 24px;
}

.textContainer{
  @media (max-width: 640px) { 
    z-index: -20px;
    text-align: center;
    align-items: center;
    transform: none !important;
    h2{
      font-size: 32px;
    }
    p{
      font-size: 20px;
    }
  }
  
}

.toggle{
  z-index: 999;
}